.footer-sec{
    padding-bottom: 80px;
}
.loc-sec-p {
    text-align: center;
    padding-top: 100px;
}
.loc-sec-child{
    display: flex;
    gap: 2%;
    padding-top: 50px;
}
.loc-sec-data{
    
    width: 49%;
    text-align: center;
}
.loc-sec-data img{
    width: 100%;
    
}
.loc-sec-data h2{
    font-size: 39.1px;
    color: #363636;
    font-weight: 400;
    padding-top: 25px;
}
.loc-sec-data h3{
    font-size: 19.55px;
    font-weight: 400;
    color: #363636;
    padding-top: 12px;
}
.loc-sec-data h4{
    font-size: 19.55px;
    font-weight: 400;
    color: #363636;
    padding-top: 12px;
}
.loc-sec-data2{
    width: 49%;
}
.loc-sec-data2 img{
    width: 100%;
}

.foo-g-1{
    padding-top: 50px;
   
}
.foo-g-1 p{
    padding-top: 25px;
}
.copy{
    text-align: center;
    color: #6f6f6f;
    font-size: 19.55px;
    padding-top: 50px;
}