.review-container{
    background-color:#f8f5f2 ;
    padding-top: 100px;
    padding-bottom: 80px;
}
.review-container h4{
    text-align: center;
    font-size: 15.64px;
    font-weight: 500;
    color: #6f6f6f;
}
.review-container h1{
    font-size: 52.9px;
    color: #363636;
    letter-spacing: -0.75px;
    font-weight: 500;
    line-height: 63.48px;
    padding-top: 42px;
    text-align: center;
}
.review-container p{
    font-size: 19.55px;
    line-height: 32.582px;
    color: #6f6f6f;
    padding-top: 15px;
}

.review-grid {
    
    padding-top: 56px;
    
  }

.review-1{
    text-align: center;
    padding: 20px;
    
}
.star-color{
    color: #ffb30c;
}
.slick-dots li button:before{
    font-size: 12px;
}
