.follow-sec{
    padding-top: 100px;
}
.follow-sec h3{
    text-align: center;
    font-size: 43.7px;
    color: #363636;
    padding-bottom: 50px;
}
.follow-img{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 2%;
}

.f-img img{
    width: 100%;
    
}