.service-content h4{
    font-size: 15.64px;
    font-weight: 500;
    color: #6f6f6f;
    text-align: center;
    margin-top: 100px;
}
.service-content h1{
    font-size: 52.9px;
    color: #363636;
    letter-spacing: -0.75px;
    font-weight: 500;
    line-height: 63.48px;
    margin-top: 20px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns:  auto auto;
    gap: 30px;
  
}
.grid-column{
    padding-top: 50px;
}
.service-detail{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
}
.service-detail h2{
    font-size: 19.2px;
    font-weight: 600;
    color: #363636;
}
.service-detail span{
    font-size: 19.2px;
}
.timing h2{
    font-size: 19.55px;
    color: #6f6f6f;
    font-weight: 500;
}
.dashes{
    width: 75%;
    border-top: 2px dotted #878889;
      margin: 20px 2px 0 2px;
    transform: rotate(-0.07deg);
}
@media(max-width:600px){
    .grid{
        grid-template-columns: none;
        gap: 0px;
    }
    .grid-column{
        padding-top: 0;
    }
    .service-detail{
        display: block;
        text-align: center;
    }
    .timing{
        text-align: center;
    }
        
    .service-content h4{
        margin-top: 0;
    }
}
