.container-2 {
    display: flex;

    justify-content: center;

    gap: 45px;


}

.content {
    width: 50%;
    margin-top: 150px;
    float: left;


}

.content h4 {
    color: #6f6f6f;
    font-weight: 500;
    font-size: 18px;
}

.content h2 {
    color: #363636;
    font-size: 52px;
    font-weight: 500;
    line-height: 63px;
    padding-top: 20px;
}

.content p {
    font-size: 20px;
    line-height: 32px;
    color: #6f6f6f;
}

.container-2 img {
    margin-top: 100px;
    
    height: 90vh;
}

.container-3 {

    padding-top: 100px;
    color: #6f6f6f;
    display: block;
    text-align: center;

}

.container-3 h3 {
    font-weight: 500;

}

.container-3 h1 {
    padding-top: 20px;
    font-size: 59.8px;
    color: #363636;
    font-weight: 300;
    padding-bottom: 16px;
}

.container-3 p {
    font-size: 19.55px;
    width: 70%;
    margin: auto;


}

.container-4 {
    margin: auto;
}

.inline-sec {
    display: inline-flex;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px 0;

}

.grid-item {
    
    padding: 20px;
    text-align: center;
   
    padding-top: 58px;
}

.grid-item h4 {
    font-size: 29.9px;
    font-weight: 300;
    color: #6f6f6f;
    padding-top: 15px;
    padding-bottom: 15px;
}

.grid-item img {
    width: 70px;
    margin: auto;
}

.grid-item p {
    width: 100%;
    line-height: 32.582px;
}

.content-1 h3 {
    font-size: 52.9px;
    color: #363636;
    letter-spacing: -0.75px;
    font-weight: 500;
    line-height: 63.48px;
    margin-top: 20px;
}

.container-4{
    max-width: 1280px;
    margin-top: 80px;
}

.row {
    margin: auto;
    margin-left: 170px;
    padding: 50px 0;
    background-color: white;
}

.row-child {
    display: flex;
    gap: 30px;
    margin: auto 0;
    justify-content: right;
}

.pic {
    width: 60%;
    margin-left: -170px;
}

.content-1 {
    margin: auto 0;
    width: 50%;
    
    padding-right: 50px;

    
}
.content-1 h4{
    font-size: 15.64px;
    font-weight: 500;
    color: #6f6f6f;
}
.container-5{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.content-2{
    width: 50%;

}
.content-2 h4{
    font-size: 15.64px;
    font-weight: 500;
    color: #6f6f6f;
}
.content-2 h3 {
    font-size: 52.9px;
    color: #363636;
    letter-spacing: -0.75px;
    font-weight: 500;
    line-height: 63.48px;
    margin-top: 20px;
}
.content-2 p{
    font-size: 19.55px;
    line-height: 32.582px;
    color: #6f6f6f;
}
.table{
    margin-top: 25px;
}
.row-2 th{
    
    font-size: 20.7px;
    padding-top: 15px;
    color: #212529;
    font-weight: 400;
}
 .table  hr {
    
    
    border: 1px dotted #aaaaaa;
    
}
.bg-image{
    background-image: url("../../../assets/bg-01.jpg");
   height:650px;
   background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
}
.row-2 {
    display: flex;
    gap: 108px;
}
.image-section{
    float: left;
}

@media(max-width:600px){
.container-2{display: block;}
.content {
    width: 100%;
    padding: 8px;
    

}
.container-2 img{
    height: auto;
   
}

.grid-container{
    grid-template-columns: auto ;
}
.row,
.row-child{
    display: block;
    margin: 0;
}
.pic{
    margin: 0;
    width: 100%;
    margin: auto;
    padding: 8px;
    
}
.content-1{
    width: 100%;
    padding: 8px;
}
.container-5{
    display: block;
}
.content-2{
    width: 100%;
    padding: 8px;
}
.row-2{
    gap: 24px;

}
.table{
    padding: 8px;
}
.bg-image{
    background-attachment: local;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
    height: 320px;
}

}