.bg-image-2{
    background-image: url("../../../assets/bg-03.jpg");
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    

    
}
.align{
  padding-top: 118px;
  text-align: center;
  
}
.align h4{
    font-size: 20.24px;
    color: white;
    font-weight: 500;
}
.align h2{
    font-size: 92px;
    color: white;
}

.align h3{
    font-size: 92px;
    font-weight: 400;
    color: white;
}
.app-button{
    border: 1px solid white;
    color: white;
}
.app-button:hover{
    background-color: white;
    color: black;
    border: 1px white solid;
}