.sub-img{
    background-image: url('../../../assets/newsletter.jpg');
    
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 108px;
    margin-top: 120px;
}
.sub-img h2{
    color: white;
    font-size: 59.8px;
    font-weight: 400;
    padding-bottom: 25px;
    
}
.sub-img h4{
    color: white;
    font-size: 21.85px;
    font-weight: 400;
}



.email-input input{
    color:white;
    background: transparent;
    padding-right: 250px;
    border-bottom: 1px solid white;
    outline: none;
    
    
    line-height: 3px;
    font-size: 21.85px;
  
    
}

.email-input{
    padding-top:50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.sub-btn{
    padding-left: 30px;
}
.email-input button{
    margin-top:0;
}