
.text-div {
    background-image: linear-gradient(to right, #6f6f6f 20%, rgba(255, 255, 255, 0) 0%);
    background-position: 0 24px;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    width: 100%;
    padding-bottom: 18px;
  
  
}

.text-span {
  background: #f8f5f2;
  padding-right: 10px;
  color: #363636;
  font-weight: 500;
  font-size: 21.85px;
}

.pull-right {
  float: right;
  padding-left: 10px;
  color: #363636;
  font-weight: 400;

}
