.header{
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: background-color 0.3s ease;
   
}
.header.scrolled  {
    background-color: white;
    color: black; /* Set the background color to white on scroll */
  }
  .header.scrolled ul{
    color: black;
  }
 
  .header.scrolled button{
    color: black;
    border: black 1px solid;
  }
.logo{
    display: flex;
    justify-content: space-between;
    padding: 20px 195px;
    vertical-align: middle;
}
.logo img {
    width: 144px;
}


.nav-links ul{
    list-style-type: none;
    color: white;
    gap: 25px;
    display: flex;
    gap: 35px;
}
.nav-links li{
    
    font-size: 18px;
    line-height: 2.5;
}

.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links button{
    background-color: transparent;
    border: 2px white solid;
    padding: 8px 34px 8px 34px;
    color: white;
    font-size: 16px;
   
}
.nav-links button:hover{
    background-color: white;
    color: black;
}

@media (max-width: 600px){
    .logo {
        width: 100%;
        display: block;
        padding:10px;
    }
    .nav-links {
        display: block;
        width: 100%;
    }
    .nav-links ul {
        width: 100%;
        list-style-type: none;
        color: white;
        display: block;
    }
    .nav-links li{ width: 50%;}
}
