.btn {
    background-color: transparent;
    border: 1px black solid;
    padding: 15px 34px 15px 34px;
    color: black;
    font-size: 16px;
    margin-top: 50px;
    font-size: 14px;
}
.btn:hover{
    background-color: #262B2F;
    color: white;
    border: 1px #262B2F solid;
}
