
.container-hero {
    margin: 0;
    padding: 0;
    /* background: url('../../assets/slide-3.jpg'); */
    
    background-repeat: no-repeat;
    height: 95vh;
    background-size: cover;
    margin: 0;
    width: 100%;
    padding-top:165px;
 

    
}
.banner-heading{
    text-align: center;
}

.banner-heading h1{
    color: white;
    font-size:70px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    letter-spacing: 6px;

}
.banner-heading h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    
    font-size: 28px;
    font-weight: 500;
}
.banner-heading button{
    background-color: transparent;
    border: 2px white solid;
    padding: 15px 34px 15px 34px;
    color: white;
    font-size: 16px;
    margin-top: 50px;
   
}

.banner-heading button:hover{
    background-color: white;
    color: black;
}

@media (max-width:600px){
    
}