.banner-sec-p{
    margin: auto;
    margin-right: 170px;
    padding: 30px 0;
    background-color: white;
}
.banner-sec{
    display: flex;
    gap: 30px;
    margin: auto 0;
}

.banner-sec img{
    width: 60%;
    margin-right: -170px;
}
.banner-sec-child{
    margin: auto 0;
    width: 50%;
    padding-left: 50px;
    padding-bottom: 130px;
}
.banner-sec-child h4{
    font-size: 15.64px;
    font-weight: 500;
    color: #6f6f6f;
    padding-left: 42px;
}
.banner-sec-child h3{
    font-size: 52.9px;
    color: #363636;
    letter-spacing: -0.75px;
    font-weight: 500;
    line-height: 63.48px;
    margin-top: 20px;
    padding-left: 42px;
}
.banner-sec-child ul{
    padding-left: 57px;
}
.banner-sec-child li{
    color: #6f6f6f;
    padding-top: 25px;
    font-size: 19.55px;
}
.custom-class{
    padding-left: 45px ;
}
