.blog-sec-p{
    text-align: center;
    padding-top: 100px;
    
}

.blog-sec-p h4{
    font-size:15.64px;
    color:#6F6F6F;
    font-weight: 400;
    
    padding-top: 12px;
}
.blog-sec-p h2{
    font-size:59.8px;
    color: #363636;
    padding-bottom: 40px;
    font-weight: 500;
}

.blog-sec-c{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
    
}
.blog{
    text-align: left;
}
.blog h4{
    font-weight: 500;
    color: #6F6F6F;
    letter-spacing: 3px;
}
.blog h3{
    font-size: 27.6px;
    color: #363636;
}
.blog p{
    font-size: 19.55px;
    color: #6F6F6F;
}
.blog img{
    width: 100%;
}
