.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.foo-g-1{
    text-align: center;
}
.foo-g-1 h3{
    font-size: 27.6px;
    color: #363636;
    font-weight: 500;
}
.foo-g-1 p{
    font-size: 19.55px;
    color: #6f6f6f;
    
}
.social-icons{
    color:"#6f6f6f"
}