@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700&family=Vollkorn:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Jost', sans-serif;
    background-color: #f8f5f2;
}
.font-2{
    font-family: 'Jost', sans-serif;
    font-family: 'Vollkorn', serif;
}

*{
    margin: 0;
    padding: 0;
}
.boxed-width{
    max-width: 1280px;
    margin: auto;
}