.content-container{
    text-align: center;
    
    
    padding-top: 40px;
    padding-bottom:80px;
}

.content-container h4{
    font-size: 15.64px;
    font-weight: 500;
    color: #6f6f6f;
}

.content-container h2{ font-size: 52.9px;
    color: #363636;
    letter-spacing: -0.75px;
    font-weight: 500;
    line-height: 63.48px;
    margin-top: 20px;}
.gallery-container {
    margin: auto;
    display: flex;
    gap: 5%;
    width: 96%;
    padding: 20px 2%;
    
}

.img-wid img {
    width: 100%;
}

.first-column {
    width: 13%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.second-column {
    width: 36%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.third-column {
    width: 23%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.fourth-column {
    width: 13%;
    position: relative;
    margin: auto;
    overflow: hidden;
}



.zoom{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    
}
.zoom:hover{
    transform: scale(1.1);
    background-color: black;

}
.third-1{
    overflow: hidden;
    margin-top: 45px;
   
    position: relative;
    
}
.gallery-btn{

}
@media(max-width:600px){
    .gallery-container{
        display: block;
    }
    .first-column,.second-column,.third-column,.fourth-column{
        width: 100%;
        margin-bottom: 28px;
    }
    .third-1{
        margin-top: 0;
        margin-bottom: 28px;
    }
    .gallery-btn{
    margin-top: 0px;
    }
}