.accordion-title {
    display: flex;
    font-size: 23px;
    justify-content: space-between;
    width: 100%;
    padding-top: 36px;

}
hr{
    width: 100% ;
    margin-top: 12px;
    border: #cccc 1px solid;
    
}
.title{
    font-size: 23px;
    color: #363636;
    font-weight: 600;
}