.container-6{
    display: flex;
    padding-top: 55px;
    
    
}
.appoin-content{
    width: 50%;
    background-color: white;
    padding: 80px;
}
.img{
    width: 45%;
}
.appoin-content h4{
    font-size: 15.64px;
    font-weight: 500;
    color: #6f6f6f;
    
    margin-top: 100px;
}
.appoin-content h3{
    font-size: 52.9px;
    color: #363636;
    letter-spacing: -0.75px;
    font-weight: 500;
    line-height: 63.48px;
    margin-top: 20px;
}

.appoin-content p{
    font-size: 19.55px;
    line-height: 32.582px;
    color: #6f6f6f;
    padding-top: 15px;
}
@media(max-width:600px){
    .container-6{
        display: block;
    }
    .appoin-content{
        width: 100%;
        padding: 8px;
    }
    .img{
        width: 100%;
    }
    
    .brand-img img{
        width: 150%;
    }

}

